# Claude settings.
claude/
CLAUDE.local.md

# VSCode settings
.vscode/
# VScode python virtual environment.
.venv
.python-version

# Sample data on disk
data_sources/

# Bazel artefacts.
bazel-bin
bazel-data-viz-demo
bazel-out
bazel-testlogs
